.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile-container {
  width: 50%;
  margin: 50px auto;
}
@media only screen and (max-width: 666px) {
  .profile-container {
    width: 90%;
  }
}
