.social-icon-footer {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.social-icon-footer:hover {
  color: rgb(255, 208, 0);
  transform: rotate(360deg) scale(1.3);
  transition: transform 1s;
}

@media only screen and (max-width: 666px) {
  .footer {
    text-align: center !important;
  }
}
